<!DOCTYPE html>
<html>
  <head>
    <style>
      html,
      body {
        font-family: Arial, sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        styles = [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"color":"#000000"},{"lightness":13}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#144b53"},{"lightness":14},{"weight":1.4}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#08304b"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#0c4152"},{"lightness":5}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#0b434f"},{"lightness":25}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#000000"}]},{"featureType":"road.arterial","elementType":"geometry.stroke","stylers":[{"color":"#0b3d51"},{"lightness":16}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"}]},{"featureType":"transit","elementType":"all","stylers":[{"color":"#146474"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#021019"}]}];
        // Constructor creates a new map - only center and zoom are required.
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 37.7878, lng: -122.3960},
          zoom: 14,
          styles:styles,
          mapTypeControl: false
        });
        var crimeSpot = {lat: 37.74904, lng: -122.4181};
        var marker = new google.maps.Marker({
          position: crimeSpot,
          map: map,
          title: 'CarJacking Homie!'
        });
        var contentString = "Some Info About what should go into the marker, please fill in with correct values";
        // Custom Marker Area , add in logic to automate marker generation based on the category of the crime.
        var murderMarker = {};
        var assaultMarker = {};
        var kidnapMarker = {};
        var theftMarker = {};
        var fraudMarker = {};
        var drunkMarker = {};
        
        var marker = new google.maps.Marker({
        position: crimeSpot,
        map: map,
        title: 'CrimeSpot Data'
        });

        var infoWindow = new google.maps.InfoWindow({
        content: contentString
        });

        marker.addListener('click', function() {
        infoWindow.open(map, marker);
        });
      }
    </script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKu9mkdXSiufRO_oqPMAVhvr7tBBrs998&v=3&callback=initMap">
    </script>

  </body>
</html>